@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&display=swap");

body {
  background-color: #6b3109;
  margin: 0;
  color: white;
}

html, body {
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-image: url(assets/strawberry-drip.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: clamp(350px, 55vh, 600px);
  z-index: 999;
}

.header-two {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #6b3109;
  background-size: cover;
  background-position: center;
  height: 15vh;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.logo-container {
  position: absolute;
  top: 5%;
  left: 1%;
  transform: translateY(-40%);
}

.logo {
  width: 70%;
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, 0.4));
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.logo:hover {
  transform: scale(1.08);
  filter: drop-shadow(0 14px 28px rgba(0, 0, 0, 0.5));
}

.pages {
  position: absolute;
  top: 5%;
  right: 4%;
  display: flex;
  gap: 6%;
}

.pages-two {
  position: absolute;
  top: 20%;
  right: 4%;
  display: flex;
  gap: 6%;
}

.pages a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Bungee", cursive;
  font-size: 120%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.pages-two a {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: "Bungee", cursive;
  font-size: 120%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.home {
  border-radius: 25px;
  background-color: #6b3109;
  padding: 10px 26px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.home-two {
  border-radius: 25px;
  background-color: #ff90c5;
  padding: 10px 26px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.home:hover {
  color: #6b3109;
  border-color: white;
  background: transparent;
}

.home-two:hover {
  color: #ff90c5;
  border-color: white;
  background: transparent;
}

.menu {
  border-radius: 25px;
  background-color: #6b3109;
  padding: 10px 26px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.menu-two {
  border-radius: 25px;
  background-color: #ff90c5;
  padding: 10px 26px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.menu:hover {
  color: #6b3109;
  border-color: white;
  background: transparent;
}

.menu-two:hover {
  color: #ff90c5;
  border-color: white;
  background: transparent;
}

.front-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.donut-quote {
  padding: 5% 2%;
  text-align: left;
  position: relative;
}

.donut-quote h1 {
  font-family: "Bungee", sans-serif;
  margin: 0.5em 0;
  font-size: 350%;
  line-height: 1;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.title {
  font-family: monospace;
  font-size: 280%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.subtitle {
  font-family: monospace;
  font-size: 180%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.donut {
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.35));
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
    width: 450px;
}

.donut:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.5));
}

.buttons {
  font-family: monospace;
  font-size: 280%;
  padding: 20px 0;
  text-align: left;
  position: relative;
}

.buttons a {
  text-decoration: none;
  color: #6b3109;
}

.button {
  background-color: #ff90c5;
  border-radius: 25px;
  padding: 10px 26px;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.button:hover {
  color: white;
  border-color: white;
  background: transparent;
}

.cart-wrapper {
  position: relative;
  background-color: #6b3109;
  border-radius: 25px;
  padding: 10px 26px;
  display: inline-block;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
}

.cart-wrapper-two {
  position: relative;
  background-color: #ff90c5;
  border-radius: 25px;
  padding: 10px 26px;
  display: inline-block;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
}

.cart-wrapper:hover {
  transform: scale(1.1);
}

.cart-wrapper-two:hover {
  transform: scale(1.1);
}

.cart-wrapper .cart-item-counter {
  position: absolute;
  top: o;
  right: -6px;
  width: 20px;
  height: 20px;
  background-color: white;
  font-family: "Bungee", sans-serif;
  color: #6b3109;
  border-radius: 50%;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  font-display: none;
}

.donut-text {
  font-family: "Bungee", sans-serif;
  color: white;
  font-size: 200%;
  text-align: center;
  padding-top: 5%;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.donut-text-two {
  font-family: "Bungee", sans-serif;
  color: #6b3109;
  text-align: center;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.product-collection {
  padding: 100px 9% 30px;
}

.product-collection h1 {
  font-family: "Bungee", sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 600;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.product-collection .product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.product-collection .img-box {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px 26px;
  background-color: white;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.product-collection .img-box:hover {
  transform: scale(1.1);
}

.product-collection .img-box img {
  width: 100%;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.35));
}

.product-collection .img-box:hover img {
  transform: scale(1.1);
}

.product-collection .title {
  font-family: "Bungee", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.product-collection .price {
  border-radius: 25px;
  padding: 10px 26px;
  background-color: #ff90c5;
  color: #6b3109;
  font-family: monospace;
  display: inline-block;
  font-weight: bold;
  margin-top: 5px;
}

.product-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  padding: 120px 9% 60px;
}

.product-detail .main-img {
  display: flex;
  justify-content: center;
}

.product-detail .main-img img {
  width: 200%;
  max-width: 450px;
  height: auto;
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.35));
}

.product-detail .details {
  display: flex;
  flex-direction: column;
}

.product-detail .title {
  font-family: "Bungee", sans-serif;
  font-size: 38px;
  margin-bottom: 15px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.product-detail .rating {
  margin-bottom: 15px;
}

.product-detail span {
  font-family: "Bungee", sans-serif;
  font-size: 16px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.product-detail .price {
  font-family: "Bungee", sans-serif;
  font-size: 28px;
  margin: 15px 0;
  color: #ff90c5;
}

.product-detail p {
  font-family: "Bungee", sans-serif;
  margin-bottom: 25px;
  line-height: 1.6;
  font-size: 16px;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.btn {
  font-family: "Bungee", sans-serif;
  background-color: #ff90c5;
  color: #6b3109;
  font-size: 16px;
  padding: 12px 50px;
  margin-bottom: 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s ease;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  color: white;
  border-color: white;
  background: transparent;
}

.back-icon {
  position: absolute;
  top: 20%;
  left: 2%;
  display: flex;
  gap: 6%;
  border-radius: 25px;
  background-color: #ff90c5;
  padding: 10px 26px;
  width: 40px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.back-icon-two {
  position: absolute;
  top: 20%;
  left: 2%;
  display: flex;
  gap: 6%;
  border-radius: 25px;
  background-color: #ff90c5;
  padding: 10px 26px;
  width: 40px;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.back-icon:hover {
  transform: scale(1.1);
}

.back-icon-two:hover {
  transform: scale(1.1);
}

.donut-group {
  display: flex;
  padding-top: 4%;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.35));
}

.donut-group:hover {
  transform: scale(1.1);
}

.donut-line {
  text-align: center;
  margin: 50px 0 30px;
}

.donut-line h2 {
  font-family: "Bungee", sans-serif;
  color: #6b3109;
  background-color: white;
  border-radius: 0;
  padding: 10px 26px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.highlight-section {
  background-color: white;
  display: flex;
  gap: 40px;
  padding: 30px 6%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.highlight-item {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-item img {
  display: block;
  width: 100%;
  height: auto;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.35));
}

.highlight-item img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 20px 30px rgba(0, 0, 0, 0.5));
}

.highlight-item h3 {
  display: inline-block;
  border-radius: 25px;
  background-color: #6b3109;
  padding: 10px 26px;
  font-family: "Bungee", sans-serif;
  font-size: 120%;
  margin-top: 15px;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.highlight-item a {
  display: block;
  width: 100%;
  text-align: center;
}

.cart {
  font-family: "Bungee", sans-serif;
  padding: 110px 9% 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.cart-header {
  display: flex;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 3px solid white;
}

.cart-header span {
  flex: 1;
  text-align: center;
}

.cart-header span:first-child {
  flex: 2;
  text-align: left;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 3px solid white;
}

.cart-item .product {
  display: flex;
  align-items: center;
  flex: 2;
}

.cart-item .product img {
  width: 100px;
  margin-right: 15px;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
}

.cart-item :is(.price, .quantity, .total-price) {
  flex: 1;
  text-align: center;
}

.cart-item .quantity input {
  font-family: "Bungee", sans-serif;
  color: #6b3109;
  width: 50px;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid white;
  outline: none;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.cart-item .remove {
  background: transparent;
  border: none;
  flex: 1;
}

.cart-item .remove img {
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.5));
}

.cart-item .remove img:hover {
  transform: scale(1.1);
}

.cart-item-count-two {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
  color: #6b3109;
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
  display: none;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.cart-total {
  width: 400px;
  margin: 50px 0 0 auto;
}

.cart-total h3 {
  margin-bottom: 15px;
}

.cart-total p {
  display: flex;
  justify-content: space-between;
}

.cart-total p:not(:last-of-type) {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.cart-total p:last-of-type {
  font-weight: bold;
}

.cart-total .btn {
  display: block;
  padding: 12px 30px;
  margin: 30px 0 0 auto;
}

*:focus {
  outline: none;
}
